# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore environment folders
venv/
.env/


# Ignore everything inside the folder
Llama8B/*

# Ignore everything inside the folder
Llama318BInstruct/*

# But keep the folder itself
!Llama318BInstruct/.gitkeep

!Llama318BInstruct/LlamaClass.py